# Two Technical Test 
## Notebook 1/3 Loading and cleaning data

by: __Alexander Cox__

This notebook contains the steps I took to load my data and clean my data.

__Notebook Contents__

1. [Introduction](#intro)
2. [Loading and Studying the Data](#load)
3. [Conclusions](#conc)

<a id='intro'></a>
# Introduction

## Problem Statement

Build a predictive model from the information provided to predict whether the applicant would pay the loan back.  The data used in the project was obtained from an Excel Worksheet provided by Two.

## Importing libraries

I have created a set of functions which I imported from my capstone_utils library. This was to streamline the basic EDA process and get an idea of the dataframe.

In [2]:
# Import the libraries
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
from sklearn.preprocessing import StandardScaler
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer
import xgboost as xgb

<a id='load'></a>
# Loading and Studying the Data

## Data and Column Descriptions

Before the data can be studied and cleaned, the dataset must first be imported in.

In [3]:
# Load the CSV file as tillit.
tillit = pd.read_csv('Tillit_Data_Science_Tech_Test.csv')

#### Column Descriptions

The table below demonstrates the columns in the dataframe and the data that is held within each column.

| Column | Description |
| :- | :- |
| Borrower ID | Id of the borrower. |
| loan_amnt| The loan amount  |
| term | The term of the loan  |
| emp_title | The job title supplied by the Borrower when applying for the loan |
| emp_length | Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years. |
| home_ownership | The home ownership status: RENT OWN MORTGAGE OTHER |
| annual_inc | The self-reported annual income provided by the borrower |
| outcome | Whether the loan has been repaid or defaulted |
| purpose | A category provided by the borrower for the loan request.|
| addr_state | The state provided by the borrower in the loan application |
| dti | A ratio calculated using the borrower’s total monthly debt payments on the total debt obligations excluding mortgage and the requested LC loan divided by the borrower’s self-reported monthly income. |
| delinq_2yrs | The number of 30+ days past-due incidences of delinquency in the borrowers credit file for the past 2 years |
| earliest_cr_line | The month the borrowers earliest reported credit line was opened |
| inq_last_6mths | The number of inquiries in past 6 months (excluding auto and mortgage inquiries) |
| mths_since_last_delinq | The number of months since the borrowers last delinquency. |
| mths_since_last_record | The number of months since the last public record. |
| open_acc | The number of open credit lines in the borrowers credit file. |
| pub_rec | Number of derogatory public records |
| revol_bal | Total credit revolving balance|
| revol_util | Revolving line utilization rate or the amount of credit the borrower is using relative to all available revolving credit. |
| total_acc | The total number of credit lines currently in the borrowers credit file |
| collections_12_mths_ex_med	| Number of collections in 12 months excluding medical collections |
|mths_since_last_major_derog 	| Months since most recent 90-day or worse rating|
|acc_now_delinq	| The number of accounts on which the borrower is now delinquent. |
|tot_coll_amt	| Total collection amounts ever owed |
|tot_cur_bal	| Total current balance of all accounts |
|pen_acc_6m	| Number of open trades in last 6 months | 
|open_il_6m	| Number of currently active installment trades |
|open_il_12m	| Number of installment accounts opened in past 12 months |
|open_il_24m	| Number of installment accounts opened in past 24 months |
|mths_since_rcnt_il	|Months since most recent installment accounts opened |
|total_bal_il	| Total current balance of all installment accounts |
|il_util	| Ratio of total current balance to high credit/credit limit on all install acct |
|open_rv_12m	| Number of revolving trades opened in past 12 months |
|open_rv_24m	| Number of revolving trades opened in past 24 months |
|max_bal_bc	| Maximum current balance owed on all revolving accounts |
|all_util	| Balance to credit limit on all trades |
|total_rev_hi_lim	|  |
| inq_fi	| Number of personal finance inquiries |
| total_cu_tl	| Number of finance trades  |
| inq_last_12m	| Number of credit inquiries in past 12 months |
| acc_open_past_24mths	| Number of trades opened in past 24 months. |
| avg_cur_bal	| Average current balance of all accounts |
| bc_open_to_buy	| Total open to buy on revolving bankcards. |
| bc_util	| Ratio of total current balance to high credit/credit limit for all bankcard accounts. |
|chargeoff_within_12_mths	| Number of charge-offs within 12 months |
| delinq_amnt	| The past-due amount owed for the accounts on which the borrower is now delinquent. |
| mo_sin_old_il_acct	| Months since oldest bank installment account opened |
| mo_sin_old_rev_tl_op	| Months since oldest revolving account opened |
| mo_sin_rcnt_rev_tl_op	| Months since most recent revolving account opened |
| mo_sin_rcnt_tl	| Months since most recent account opened |
| mort_acc	| Number of mortgage accounts. |
| mths_since_recent_bc	| Months since most recent bankcard account opened. |
| mths_since_recent_bc_dlq	| Months since most recent bankcard delinquency |
| mths_since_recent_inq	| Months since most recent inquiry. |
| mths_since_recent_revol_delinq	| Months since most recent revolving delinquency. |
| num_accts_ever_120_pd	| Number of accounts ever 120 or more days past due |
| num_actv_bc_tl	| Number of currently active bankcard accounts |
| num_actv_rev_tl	| Number of currently active revolving trades |
| num_bc_sats	| Number of satisfactory bankcard accounts |
| num_bc_tl	| Number of bankcard accounts |
| num_il_tl	| Number of installment accounts |
| num_op_rev_tl	| Number of open revolving accounts |
| num_rev_accts	| Number of revolving accounts |
| num_rev_tl_bal_gt_0	| Number of revolving trades with balance >0 |
| num_sats	| Number of satisfactory accounts |
| num_tl_120dpd_2m	| Number of accounts currently 120 days past due (updated in past 2 months) |
| num_tl_30dpd	| Number of accounts currently 30 days past due (updated in past 2 months) |
| num_tl_90g_dpd_24m	| Number of accounts 90 or more days past due in last 24 months |
| num_tl_op_past_12m	| Number of accounts opened in past 12 months |
| pct_tl_nvr_dlq	| Percent of trades never delinquent |
| percent_bc_gt_75	| Percentage of all bankcard accounts > 75% of limit. |
| pub_rec_bankruptcies	| Number of public record bankruptcies |
| tax_liens	| Number of tax liens |
| tot_hi_cred_lim	| Total high credit/credit limit| 
| total_bal_ex_mort	| Total credit balance excluding mortgage |
| total_bc_limit	| Total bankcard high credit/credit limit |
| total_il_high_credit_limit	| Total installment high credit/credit limit |

In [4]:
# View the dataframe
tillit

,borrower_id,loan_amnt,term,emp_title,emp_length,home_ownership,annual_inc,outcome,purpose,addr_state,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,537185,16075.0,60 months,NaN,NaN,MORTGAGE,50289.0,Fully Paid,home_improvement,SC,...,0.0,2.0,95.7,100.0,0.0,0,227376.0,15756.0,11900.0,6000.0
1,1810804,8000.0,36 months,Graydon Head & Ritchey LLP,10+ years,MORTGAGE,64000.0,Fully Paid,debt_consolidation,IN,...,0.0,0.0,100.0,75.0,1.0,0,121881.0,33618.0,13700.0,29400.0
2,388855,23700.0,36 months,Director of IT,3 years,RENT,88000.0,Fully Paid,debt_consolidation,FL,...,0.0,5.0,100.0,10.0,1.0,0,99201.0,58898.0,18700.0,69501.0
3,1137067,1200.0,36 months,NaN,NaN,MORTGAGE,81000.0,Fully Paid,other,NY,...,0.0,4.0,83.3,100.0,0.0,0,203983.0,20609.0,1100.0,26183.0
4,14585,3500.0,36 months,NaN,NaN,RENT,11736.0,Fully Paid,debt_consolidation,WA,...,0.0,1.0,100.0,100.0,1.0,0,16200.0,9459.0,2000.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41024,144002,18000.0,60 months,Community Manager,< 1 year,RENT,70000.0,Fully Paid,debt_consolidation,NY,...,0.0,1.0,100.0,33.3,0.0,0,33000.0,20719.0,16000.0,15000.0
41025,1903558,23275.0,36 months,Sandy plains baptist church,2 years,MORTGAGE,75036.0,Fully Paid,debt_consolidation,NC,...,0.0,4.0,96.0,66.7,0.0,0,149805.0,19222.0,18706.0,0.0
41026,333664,1775.0,36 months,Sales associate,7 years,RENT,25000.0,Fully Paid,small_business,NY,...,0.0,1.0,100.0,66.7,0.0,0,30330.0,23322.0,13300.0,15530.0
41027,1197930,15000.0,36 months,Professional Sales Representative,3 years,MORTGAGE,80000.0,Fully Paid,debt_consolidation,VA,...,0.0,1.0,96.7,100.0,0.0,0,444800.0,23436.0,18400.0,0.0
41028,1807816,11300.0,36 months,Signature Healthcare,1 year,RENT,90000.0,Fully Paid,vacation,MA,...,0.0,3.0,95.0,40.0,0.0,0,129693.0,115447.0,27800.0,100893.0

In [5]:
# View the metadata.
tillit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41029 entries, 0 to 41028
Data columns (total 78 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   borrower_id                     41029 non-null  int64
 1   loan_amnt                       41006 non-null  float64
 2   term                            41029 non-null  object
 3   emp_title                       36311 non-null  object
 4   emp_length                      36628 non-null  object
 5   home_ownership                  41029 non-null  object
 6   annual_inc                      41029 non-null  float64
 7   outcome                         41029 non-null  object
 8   purpose                         41029 non-null  object
 9   addr_state                      41029 non-null  object
 10  dti                             41029 non-null  float64
 11  delinq_2yrs                     41029 non-null  int64
 12  earliest_cr_line                41029 non-null  object
 13  inq_last_6mths                  41029 non-null  int64
 14  mths_since_last_delinq          19875 non-null  float64
 15  mths_since_last_record          6816 non-null   float64
 16  open_acc                        41029 non-null  int64
 17  pub_rec                         41029 non-null  int64
 18  revol_bal                       41029 non-null  int64
 19  revol_util                      41005 non-null  float64
 20  total_acc                       41029 non-null  int64
 21  collections_12_mths_ex_med      41029 non-null  int64
 22  mths_since_last_major_derog     10651 non-null  float64
 23  acc_now_delinq                  41029 non-null  int64
 24  tot_coll_amt                    38625 non-null  float64
 25  tot_cur_bal                     38625 non-null  float64
 26  open_acc_6m                     13351 non-null  float64
 27  open_act_il                     13351 non-null  float64
 28  open_il_12m                     13351 non-null  float64
 29  open_il_24m                     13351 non-null  float64
 30  mths_since_rcnt_il              13015 non-null  float64
 31  total_bal_il                    13351 non-null  float64
 32  il_util                         11674 non-null  float64
 33  open_rv_12m                     13351 non-null  float64
 34  open_rv_24m                     13351 non-null  float64
 35  max_bal_bc                      13351 non-null  float64
 36  all_util                        13349 non-null  float64
 37  total_rev_hi_lim                38625 non-null  float64
 38  inq_fi                          13351 non-null  float64
 39  total_cu_tl                     13351 non-null  float64
 40  inq_last_12m                    13351 non-null  float64
 41  acc_open_past_24mths            39380 non-null  float64
 42  avg_cur_bal                     38625 non-null  float64
 43  bc_open_to_buy                  38930 non-null  float64
 44  bc_util                         38902 non-null  float64
 45  chargeoff_within_12_mths        41029 non-null  int64
 46  delinq_amnt                     41029 non-null  int64
 47  mo_sin_old_il_acct              37334 non-null  float64
 48  mo_sin_old_rev_tl_op            38625 non-null  float64
 49  mo_sin_rcnt_rev_tl_op           38625 non-null  float64
 50  mo_sin_rcnt_tl                  38625 non-null  float64
 51  mort_acc                        39380 non-null  float64
 52  mths_since_recent_bc            38960 non-null  float64
 53  mths_since_recent_bc_dlq        9455 non-null   float64
 54  mths_since_recent_inq           35686 non-null  float64
 55  mths_since_recent_revol_delinq  13256 non-null  float64
 56  num_accts_ever_120_pd           38625 non-null  float64
 57  num_actv_bc_tl                  38625 non-null  float64
 58  num_actv_rev_tl                 38625 non-null  float64
 59  num_bc_sats                     39072 non-null  float64
 60  num_bc_tl                       38625 non-null  float64
 61  num_il_tl                       38625 non-null  float64
 62  num_op_rev_tl                   38625 non-null  float64
 63  num_rev_accts                   38625 non-null  float64
 64  num_rev_tl_bal_gt_0             38625 non-null  float64
 65  num_sats                        39072 non-null  float64
 66  num_tl_120dpd_2m                36152 non-null  float64
 67  num_tl_30dpd                    38625 non-null  float64
 68  num_tl_90g_dpd_24m              38625 non-null  float64
 69  num_tl_op_past_12m              38625 non-null  float64
 70  pct_tl_nvr_dlq                  38619 non-null  float64
 71  percent_bc_gt_75                38919 non-null  float64
 72  pub_rec_bankruptcies            41028 non-null  float64
 73  tax_liens                       41029 non-null  int64
 74  tot_hi_cred_lim                 38625 non-null  float64
 75  total_bal_ex_mort               39380 non-null  float64
 76  total_bc_limit                  39380 non-null  float64
 77  total_il_high_credit_limit      38625 non-null  float64
dtypes: float64(58), int64(12), object(8)
memory usage: 24.4+ MB

In [6]:
# Check for duplicated rows
duplicated_rows = tillit[tillit.duplicated()]

# Print duplicated rows, if any
if not duplicated_rows.empty:
    print("Duplicated rows:")
    print(duplicated_rows)
else:
    print("No duplicated rows found in the dataset.")

Duplicated rows:
     borrower_id  loan_amnt       term emp_title emp_length home_ownership  \
112      2045038    30000.0  36 months       NaN        NaN            OWN
113      2045038    30000.0  36 months       NaN        NaN            OWN
114      2045038    30000.0  36 months       NaN        NaN            OWN
115      2045038    30000.0  36 months       NaN        NaN            OWN
116      2045038    30000.0  36 months       NaN        NaN            OWN
117      2045038    30000.0  36 months       NaN        NaN            OWN
118      2045038    30000.0  36 months       NaN        NaN            OWN
119      2045038    30000.0  36 months       NaN        NaN            OWN
120      2045038    30000.0  36 months       NaN        NaN            OWN
121      2045038    30000.0  36 months       NaN        NaN            OWN
122      2045038    30000.0  36 months       NaN        NaN            OWN
123      2045038    30000.0  36 months       NaN        NaN            OWN
124      2045038    30000.0  36 months       NaN        NaN            OWN
125      2045038    30000.0  36 months       NaN        NaN            OWN
126      2045038    30000.0  36 months       NaN        NaN            OWN
127      2045038    30000.0  36 months       NaN        NaN            OWN
128      2045038    30000.0  36 months       NaN        NaN            OWN
129      2045038    30000.0  36 months       NaN        NaN            OWN
130      2045038    30000.0  36 months       NaN        NaN            OWN
131      2045038    30000.0  36 months       NaN        NaN            OWN
132      2045038    30000.0  36 months       NaN        NaN            OWN
133      2045038    30000.0  36 months       NaN        NaN            OWN
134      2045038    30000.0  36 months       NaN        NaN            OWN
135      2045038    30000.0  36 months       NaN        NaN            OWN
136      2045038    30000.0  36 months       NaN        NaN            OWN
137      2045038    30000.0  36 months       NaN        NaN            OWN
138      2045038    30000.0  36 months       NaN        NaN            OWN
139      2045038    30000.0  36 months       NaN        NaN            OWN
140      2045038    30000.0  36 months       NaN        NaN            OWN

     annual_inc     outcome             purpose addr_state  ...  \
112    180000.0  Fully Paid  debt_consolidation         CA  ...
113    180000.0  Fully Paid  debt_consolidation         CA  ...
114    180000.0  Fully Paid  debt_consolidation         CA  ...
115    180000.0  Fully Paid  debt_consolidation         CA  ...
116    180000.0  Fully Paid  debt_consolidation         CA  ...
117    180000.0  Fully Paid  debt_consolidation         CA  ...
118    180000.0  Fully Paid  debt_consolidation         CA  ...
119    180000.0  Fully Paid  debt_consolidation         CA  ...
120    180000.0  Fully Paid  debt_consolidation         CA  ...
121    180000.0  Fully Paid  debt_consolidation         CA  ...
122    180000.0  Fully Paid  debt_consolidation         CA  ...
123    180000.0  Fully Paid  debt_consolidation         CA  ...
124    180000.0  Fully Paid  debt_consolidation         CA  ...
125    180000.0  Fully Paid  debt_consolidation         CA  ...
126    180000.0  Fully Paid  debt_consolidation         CA  ...
127    180000.0  Fully Paid  debt_consolidation         CA  ...
128    180000.0  Fully Paid  debt_consolidation         CA  ...
129    180000.0  Fully Paid  debt_consolidation         CA  ...
130    180000.0  Fully Paid  debt_consolidation         CA  ...
131    180000.0  Fully Paid  debt_consolidation         CA  ...
132    180000.0  Fully Paid  debt_consolidation         CA  ...
133    180000.0  Fully Paid  debt_consolidation         CA  ...
134    180000.0  Fully Paid  debt_consolidation         CA  ...
135    180000.0  Fully Paid  debt_consolidation         CA  ...
136    180000.0  Fully Paid  debt_consolidation         CA  ...
137    180000.0  Fully Paid  debt_consolidation         CA  ...
138    180000.0  Fully Paid  debt_consolidation         CA  ...
139    180000.0  Fully Paid  debt_consolidation         CA  ...
140    180000.0  Fully Paid  debt_consolidation         CA  ...

     num_tl_90g_dpd_24m  num_tl_op_past_12m pct_tl_nvr_dlq  percent_bc_gt_75  \
112                 0.0                 0.0           92.9               0.0
113                 0.0                 0.0           92.9               0.0
114                 0.0                 0.0           92.9               0.0
115                 0.0                 0.0           92.9               0.0
116                 0.0                 0.0           92.9               0.0
117                 0.0                 0.0           92.9               0.0
118                 0.0                 0.0           92.9               0.0
119                 0.0                 0.0           92.9               0.0
120                 0.0                 0.0           92.9               0.0
121                 0.0                 0.0           92.9               0.0
122                 0.0                 0.0           92.9               0.0
123                 0.0                 0.0           92.9               0.0
124                 0.0                 0.0           92.9               0.0
125                 0.0                 0.0           92.9               0.0
126                 0.0                 0.0           92.9               0.0
127                 0.0                 0.0           92.9               0.0
128                 0.0                 0.0           92.9               0.0
129                 0.0                 0.0           92.9               0.0
130                 0.0                 0.0           92.9               0.0
131                 0.0                 0.0           92.9               0.0
132                 0.0                 0.0           92.9               0.0
133                 0.0                 0.0           92.9               0.0
134                 0.0                 0.0           92.9               0.0
135                 0.0                 0.0           92.9               0.0
136                 0.0                 0.0           92.9               0.0
137                 0.0                 0.0           92.9               0.0
138                 0.0                 0.0           92.9               0.0
139                 0.0                 0.0           92.9               0.0
140                 0.0                 0.0           92.9               0.0

     pub_rec_bankruptcies  tax_liens  tot_hi_cred_lim  total_bal_ex_mort  \
112                   0.0          0         159000.0            30218.0
113                   0.0          0         159000.0            30218.0
114                   0.0          0         159000.0            30218.0
115                   0.0          0         159000.0            30218.0
116                   0.0          0         159000.0            30218.0
117                   0.0          0         159000.0            30218.0
118                   0.0          0         159000.0            30218.0
119                   0.0          0         159000.0            30218.0
120                   0.0          0         159000.0            30218.0
121                   0.0          0         159000.0            30218.0
122                   0.0          0         159000.0            30218.0
123                   0.0          0         159000.0            30218.0
124                   0.0          0         159000.0            30218.0
125                   0.0          0         159000.0            30218.0
126                   0.0          0         159000.0            30218.0
127                   0.0          0         159000.0            30218.0
128                   0.0          0         159000.0            30218.0
129                   0.0          0         159000.0            30218.0
130                   0.0          0         159000.0            30218.0
131                   0.0          0         159000.0            30218.0
132                   0.0          0         159000.0            30218.0
133                   0.0          0         159000.0            30218.0
134                   0.0          0         159000.0            30218.0
135                   0.0          0         159000.0            30218.0
136                   0.0          0         159000.0            30218.0
137                   0.0          0         159000.0            30218.0
138                   0.0          0         159000.0            30218.0
139                   0.0          0         159000.0            30218.0
140                   0.0          0         159000.0            30218.0

     total_bc_limit  total_il_high_credit_limit
112         85000.0                     55000.0
113         85000.0                     55000.0
114         85000.0                     55000.0
115         85000.0                     55000.0
116         85000.0                     55000.0
117         85000.0                     55000.0
118         85000.0                     55000.0
119         85000.0                     55000.0
120         85000.0                     55000.0
121         85000.0                     55000.0
122         85000.0                     55000.0
123         85000.0                     55000.0
124         85000.0                     55000.0
125         85000.0                     55000.0
126         85000.0                     55000.0
127         85000.0                     55000.0
128         85000.0                     55000.0
129         85000.0                     55000.0
130         85000.0                     55000.0
131         85000.0                     55000.0
132         85000.0                     55000.0
133         85000.0                     55000.0
134         85000.0                     55000.0
135         85000.0                     55000.0
136         85000.0                     55000.0
137         85000.0                     55000.0
138         85000.0                     55000.0
139         85000.0                     55000.0
140         85000.0                     55000.0

[29 rows x 78 columns]

There are 29 rows of duplicated data, these rows will need to be removed.

In [7]:
# Remove duplicated rows
tillit_cleaned = tillit.drop_duplicates()

# View the dataframe
tillit_cleaned

,borrower_id,loan_amnt,term,emp_title,emp_length,home_ownership,annual_inc,outcome,purpose,addr_state,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,537185,16075.0,60 months,NaN,NaN,MORTGAGE,50289.0,Fully Paid,home_improvement,SC,...,0.0,2.0,95.7,100.0,0.0,0,227376.0,15756.0,11900.0,6000.0
1,1810804,8000.0,36 months,Graydon Head & Ritchey LLP,10+ years,MORTGAGE,64000.0,Fully Paid,debt_consolidation,IN,...,0.0,0.0,100.0,75.0,1.0,0,121881.0,33618.0,13700.0,29400.0
2,388855,23700.0,36 months,Director of IT,3 years,RENT,88000.0,Fully Paid,debt_consolidation,FL,...,0.0,5.0,100.0,10.0,1.0,0,99201.0,58898.0,18700.0,69501.0
3,1137067,1200.0,36 months,NaN,NaN,MORTGAGE,81000.0,Fully Paid,other,NY,...,0.0,4.0,83.3,100.0,0.0,0,203983.0,20609.0,1100.0,26183.0
4,14585,3500.0,36 months,NaN,NaN,RENT,11736.0,Fully Paid,debt_consolidation,WA,...,0.0,1.0,100.0,100.0,1.0,0,16200.0,9459.0,2000.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41024,144002,18000.0,60 months,Community Manager,< 1 year,RENT,70000.0,Fully Paid,debt_consolidation,NY,...,0.0,1.0,100.0,33.3,0.0,0,33000.0,20719.0,16000.0,15000.0
41025,1903558,23275.0,36 months,Sandy plains baptist church,2 years,MORTGAGE,75036.0,Fully Paid,debt_consolidation,NC,...,0.0,4.0,96.0,66.7,0.0,0,149805.0,19222.0,18706.0,0.0
41026,333664,1775.0,36 months,Sales associate,7 years,RENT,25000.0,Fully Paid,small_business,NY,...,0.0,1.0,100.0,66.7,0.0,0,30330.0,23322.0,13300.0,15530.0
41027,1197930,15000.0,36 months,Professional Sales Representative,3 years,MORTGAGE,80000.0,Fully Paid,debt_consolidation,VA,...,0.0,1.0,96.7,100.0,0.0,0,444800.0,23436.0,18400.0,0.0
41028,1807816,11300.0,36 months,Signature Healthcare,1 year,RENT,90000.0,Fully Paid,vacation,MA,...,0.0,3.0,95.0,40.0,0.0,0,129693.0,115447.0,27800.0,100893.0

In [8]:
# Determine the number of missing values 
missing_data = tillit.isnull().sum()
print(missing_data)

borrower_id                      0
loan_amnt                       23
term                             0
emp_title                     4718
emp_length                    4401
                              ...
tax_liens                        0
tot_hi_cred_lim               2404
total_bal_ex_mort             1649
total_bc_limit                1649
total_il_high_credit_limit    2404
Length: 78, dtype: int64

In [9]:
# Filter out columns with missing data
missing_data = missing_data[missing_data > 0]

# Print columns with missing data
if len(missing_data) > 0:
    print("Columns with missing data:")
    print(missing_data)
else:
    print("No missing data found in the dataset.")

Columns with missing data:
loan_amnt                            23
emp_title                          4718
emp_length                         4401
mths_since_last_delinq            21154
mths_since_last_record            34213
revol_util                           24
mths_since_last_major_derog       30378
tot_coll_amt                       2404
tot_cur_bal                        2404
open_acc_6m                       27678
open_act_il                       27678
open_il_12m                       27678
open_il_24m                       27678
mths_since_rcnt_il                28014
total_bal_il                      27678
il_util                           29355
open_rv_12m                       27678
open_rv_24m                       27678
max_bal_bc                        27678
all_util                          27680
total_rev_hi_lim                   2404
inq_fi                            27678
total_cu_tl                       27678
inq_last_12m                      27678
acc_open_past_24mths               1649
avg_cur_bal                        2404
bc_open_to_buy                     2099
bc_util                            2127
mo_sin_old_il_acct                 3695
mo_sin_old_rev_tl_op               2404
mo_sin_rcnt_rev_tl_op              2404
mo_sin_rcnt_tl                     2404
mort_acc                           1649
mths_since_recent_bc               2069
mths_since_recent_bc_dlq          31574
mths_since_recent_inq              5343
mths_since_recent_revol_delinq    27773
num_accts_ever_120_pd              2404
num_actv_bc_tl                     2404
num_actv_rev_tl                    2404
num_bc_sats                        1957
num_bc_tl                          2404
num_il_tl                          2404
num_op_rev_tl                      2404
num_rev_accts                      2404
num_rev_tl_bal_gt_0                2404
num_sats                           1957
num_tl_120dpd_2m                   4877
num_tl_30dpd                       2404
num_tl_90g_dpd_24m                 2404
num_tl_op_past_12m                 2404
pct_tl_nvr_dlq                     2410
percent_bc_gt_75                   2110
pub_rec_bankruptcies                  1
tot_hi_cred_lim                    2404
total_bal_ex_mort                  1649
total_bc_limit                     1649
total_il_high_credit_limit         2404
dtype: int64

In [10]:
# Filter out rows with missing data in the loan_amnt column
missing_loan_amnt = tillit_cleaned[tillit_cleaned['loan_amnt'].isnull()]

# Display the results
print("Rows with missing data in the loan_amnt column:")
print(missing_loan_amnt)

Rows with missing data in the loan_amnt column:
       borrower_id  loan_amnt       term                            emp_title  \
8           156349        NaN  36 months                                  NaN
109        2046542        NaN  60 months                        Store Manager
202        1077067        NaN  60 months             Voice Operations Manager
281        2233959        NaN  36 months                     Maintenance tech
357        1782780        NaN  36 months               Database Administrator
493        1631865        NaN  60 months   Pennyslvania College of Technology
590        1087130        NaN  36 months                           Programmer
718         113299        NaN  36 months                    Marketing Manager
848         934747        NaN  36 months                    financial advisor
1140       2008462        NaN  36 months                  o/n sales associate
1574         99832        NaN  36 months             Licensed Personal Banker
2071        995914        NaN  36 months              marketing and promotion
2516       1188374        NaN  60 months                      Control Officer
15675      1555610        NaN  36 months                     Office Assistant
15764      1621105        NaN  36 months                 All American Asphalt
15950       198145        NaN  36 months                             assembly
16014      1289323        NaN  60 months  Curriculum & Implementation Manager
16083       134209        NaN  60 months                                  NaN
25758      1795222        NaN  60 months                 Liberty Mutual Group
40540      1973463        NaN  36 months     Assistant Director of Technology
40664      1285184        NaN  36 months                                  NaN
40935       287618        NaN  36 months                                  CTO
41021      1648633        NaN  36 months                           tw telecom

      emp_length home_ownership  annual_inc     outcome             purpose  \
8            NaN            OWN     12500.0  Fully Paid         credit_card
109    10+ years           RENT    155000.0  Fully Paid  debt_consolidation
202      8 years       MORTGAGE    132000.0  Fully Paid    home_improvement
281    10+ years       MORTGAGE     75000.0  Fully Paid  debt_consolidation
357     < 1 year       MORTGAGE    140000.0  Fully Paid  debt_consolidation
493    10+ years       MORTGAGE     52000.0  Fully Paid  debt_consolidation
590    10+ years       MORTGAGE    120000.0  Fully Paid  debt_consolidation
718     < 1 year           RENT     45000.0  Fully Paid         credit_card
848    10+ years       MORTGAGE     96000.0  Fully Paid    home_improvement
1140   10+ years            OWN     38000.0  Fully Paid               other
1574     3 years       MORTGAGE     45000.0  Fully Paid  debt_consolidation
2071     4 years           RENT     87000.0  Fully Paid              moving
2516   10+ years           RENT    158000.0  Fully Paid  debt_consolidation
15675   < 1 year            OWN     20800.0  Fully Paid               other
15764  10+ years       MORTGAGE    108000.0  Fully Paid      major_purchase
15950    2 years            OWN     32000.0  Fully Paid               other
16014     1 year           RENT     97500.0  Fully Paid  debt_consolidation
16083        NaN           RENT     32500.0  Fully Paid  debt_consolidation
25758    6 years       MORTGAGE     51550.0  Fully Paid  debt_consolidation
40540  10+ years       MORTGAGE    104670.0  Fully Paid         credit_card
40664        NaN       MORTGAGE     54241.0  Fully Paid         credit_card
40935  10+ years           RENT    139100.0  Fully Paid  debt_consolidation
41021    2 years           RENT     74196.0  Fully Paid  debt_consolidation

      addr_state  ...  num_tl_90g_dpd_24m  num_tl_op_past_12m pct_tl_nvr_dlq  \
8             FL  ...                 0.0                 6.0          100.0
109           CT  ...                 0.0                 1.0           97.6
202           MD  ...                 0.0                 2.0           93.0
281           IN  ...                 0.0                 0.0           81.8
357           VA  ...                 0.0                 1.0           94.0
493           PA  ...                 NaN                 NaN            NaN
590           PA  ...                 0.0                 1.0          100.0
718           VA  ...                 0.0                 3.0           88.9
848           MO  ...                 0.0                 4.0           95.5
1140          MO  ...                 0.0                 3.0          100.0
1574          FL  ...                 0.0                 1.0           90.0
2071          FL  ...                 0.0                 2.0           81.2
2516          NY  ...                 0.0                 0.0          100.0
15675         FL  ...                 0.0                 2.0           73.7
15764         CA  ...                 NaN                 NaN            NaN
15950         CA  ...                 0.0                 2.0          100.0
16014         TX  ...                 0.0                 1.0          100.0
16083         KY  ...                 0.0                 1.0          100.0
25758         WA  ...                 0.0                 2.0          100.0
40540         NC  ...                 0.0                 2.0          100.0
40664         KS  ...                 0.0                 1.0           67.0
40935         CT  ...                 0.0                 5.0           82.5
41021         CO  ...                 NaN                 NaN            NaN

       percent_bc_gt_75  pub_rec_bankruptcies  tax_liens  tot_hi_cred_lim  \
8                   0.0                   0.0          0          48300.0
109                 0.0                   0.0          0         718895.0
202                55.6                   0.0          0         492822.0
281                33.3                   0.0          0         194662.0
357                 0.0                   0.0          0         516851.0
493                 NaN                   0.0          0              NaN
590               100.0                   0.0          0         440703.0
718               100.0                   0.0          0          61790.0
848                66.7                   0.0          0         305722.0
1140               62.5                   0.0          0          33001.0
1574               33.3                   0.0          0         355145.0
2071              100.0                   0.0          0          51787.0
2516               87.5                   0.0          0          80561.0
15675              50.0                   0.0          0          60202.0
15764               NaN                   0.0          0              NaN
15950               0.0                   0.0          0         153379.0
16014              87.5                   0.0          0         105277.0
16083              50.0                   1.0          0          27900.0
25758              28.6                   0.0          0         426500.0
40540              83.3                   0.0          0         426829.0
40664             100.0                   1.0          0         177371.0
40935              14.3                   1.0          0          54827.0
41021               NaN                   0.0          0              NaN

       total_bal_ex_mort  total_bc_limit  total_il_high_credit_limit
8                 9019.0         38400.0                         0.0
109             299523.0         59300.0                     97759.0
202              54069.0         23175.0                     44047.0
281              32112.0          4100.0                     37508.0
357              73784.0         39500.0                     99251.0
493                  NaN             NaN                         NaN
590             106003.0         90700.0                     31703.0
718              58540.0          9100.0                     50690.0
848             129553.0         23800.0                    119922.0
1140             15620.0         17400.0                      9601.0
1574             35037.0         17000.0                     26945.0
2071             35379.0         23000.0                     27987.0
2516             61656.0         21400.0                     37961.0
15675            58963.0          6400.0                     52302.0
15764                NaN             NaN                         NaN
15950             5516.0           800.0                      5673.0
16014            84227.0         69000.0                     21777.0
16083            17469.0          7200.0                     15700.0
25758            12943.0         29200.0                         0.0
40540           108766.0         47700.0                     75550.0
40664            17700.0          2050.0                     28301.0
40935            37987.0         13400.0                     32347.0
41021                NaN             NaN                         NaN

[23 rows x 78 columns]

There are 23 rows with missing values in the loan_amnt column.  The missing data in the loan_amnt column will be imputed with the mean loan_amnt by its term length (36 or 60 months).

In [11]:
# Calculate the mean loan amount by term
mean_loan_amnt_by_term = tillit_cleaned.groupby('term')['loan_amnt'].mean()

mean_loan_amnt_by_term

term
36 months    14396.792750
60 months    22020.629874
Name: loan_amnt, dtype: float64

In [12]:
# Impute missing loan amount values with the mean loan amount based on term
for term, mean_loan_amnt in mean_loan_amnt_by_term.items():
    tillit_cleaned.loc[(tillit_cleaned['term'] == term) & (tillit_cleaned['loan_amnt'].isnull()), 'loan_amnt'] = mean_loan_amnt

The mean values of the amount by its term time have now been imputed into the dataframe, there should be no more missing values in the loan_amnt column, sense check the data in the loan_amnt column

In [13]:
# Determine the number of missing values in loan_amnt column now that the mean values have been imputed.
tillit_cleaned.isna().sum()

borrower_id                      0
loan_amnt                        0
term                             0
emp_title                     4689
emp_length                    4372
                              ...
tax_liens                        0
tot_hi_cred_lim               2404
total_bal_ex_mort             1649
total_bc_limit                1649
total_il_high_credit_limit    2404
Length: 78, dtype: int64

There are now no missing values in the loan_amnt column

After conducting research on the dataframe, I was able to determine that the Outcome column is our target variable.

In [14]:
# Count the occurrences of each unique value in the 'outcome' column
outcome_counts = tillit_cleaned['outcome'].value_counts()

# Print the result
print("Count of 'Fully Paid':", outcome_counts.get('Fully Paid', 0))
print("Count of 'Defaulted':", outcome_counts.get('Defaulted', 0))

Count of 'Fully Paid': 40000
Count of 'Defaulted': 1000

The target variable shows that there are 40000 fully paid loans and 1000 defaulted loans. Furthermore, it is in an object datatype, in the form of "Fully Paid" or "Defaulted". I want to encode this to a binary column which returns 1 for "Fully Paid" or 0 for "Defaulted".

In [15]:
# Define a mapping dictionary
mapping = {'Fully Paid': 1, 'Defaulted': 0}

# Apply the mapping to the 'outcome' column using .loc
tillit_cleaned.loc[tillit_cleaned['outcome'] == 'Fully Paid', 'outcome'] = 1
tillit_cleaned.loc[tillit_cleaned['outcome'] == 'Defaulted', 'outcome'] = 0

# Print the updated DataFrame
print(tillit_cleaned)

       borrower_id  loan_amnt       term                          emp_title  \
0           537185    16075.0  60 months                                NaN
1          1810804     8000.0  36 months         Graydon Head & Ritchey LLP
2           388855    23700.0  36 months                     Director of IT
3          1137067     1200.0  36 months                                NaN
4            14585     3500.0  36 months                                NaN
...            ...        ...        ...                                ...
41024       144002    18000.0  60 months                  Community Manager
41025      1903558    23275.0  36 months        Sandy plains baptist church
41026       333664     1775.0  36 months                    Sales associate
41027      1197930    15000.0  36 months  Professional Sales Representative
41028      1807816    11300.0  36 months               Signature Healthcare

      emp_length home_ownership  annual_inc outcome             purpose  \
0            NaN       MORTGAGE     50289.0       1    home_improvement
1      10+ years       MORTGAGE     64000.0       1  debt_consolidation
2        3 years           RENT     88000.0       1  debt_consolidation
3            NaN       MORTGAGE     81000.0       1               other
4            NaN           RENT     11736.0       1  debt_consolidation
...          ...            ...         ...     ...                 ...
41024   < 1 year           RENT     70000.0       1  debt_consolidation
41025    2 years       MORTGAGE     75036.0       1  debt_consolidation
41026    7 years           RENT     25000.0       1      small_business
41027    3 years       MORTGAGE     80000.0       1  debt_consolidation
41028     1 year           RENT     90000.0       1            vacation

      addr_state  ...  num_tl_90g_dpd_24m  num_tl_op_past_12m pct_tl_nvr_dlq  \
0             SC  ...                 0.0                 2.0           95.7
1             IN  ...                 0.0                 0.0          100.0
2             FL  ...                 0.0                 5.0          100.0
3             NY  ...                 0.0                 4.0           83.3
4             WA  ...                 0.0                 1.0          100.0
...          ...  ...                 ...                 ...            ...
41024         NY  ...                 0.0                 1.0          100.0
41025         NC  ...                 0.0                 4.0           96.0
41026         NY  ...                 0.0                 1.0          100.0
41027         VA  ...                 0.0                 1.0           96.7
41028         MA  ...                 0.0                 3.0           95.0

       percent_bc_gt_75  pub_rec_bankruptcies  tax_liens  tot_hi_cred_lim  \
0                 100.0                   0.0          0         227376.0
1                  75.0                   1.0          0         121881.0
2                  10.0                   1.0          0          99201.0
3                 100.0                   0.0          0         203983.0
4                 100.0                   1.0          0          16200.0
...                 ...                   ...        ...              ...
41024              33.3                   0.0          0          33000.0
41025              66.7                   0.0          0         149805.0
41026              66.7                   0.0          0          30330.0
41027             100.0                   0.0          0         444800.0
41028              40.0                   0.0          0         129693.0

       total_bal_ex_mort  total_bc_limit  total_il_high_credit_limit
0                15756.0         11900.0                      6000.0
1                33618.0         13700.0                     29400.0
2                58898.0         18700.0                     69501.0
3                20609.0          1100.0                     26183.0
4                 9459.0          2000.0                         0.0
...                  ...             ...                         ...
41024            20719.0         16000.0                     15000.0
41025            19222.0         18706.0                         0.0
41026            23322.0         13300.0                     15530.0
41027            23436.0         18400.0                         0.0
41028           115447.0         27800.0                    100893.0

[41000 rows x 78 columns]

In [16]:
# View updated and cleaned dataframe head
tillit_cleaned.head()

,borrower_id,loan_amnt,term,emp_title,emp_length,home_ownership,annual_inc,outcome,purpose,addr_state,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,537185,16075.0,60 months,NaN,NaN,MORTGAGE,50289.0,1,home_improvement,SC,...,0.0,2.0,95.7,100.0,0.0,0,227376.0,15756.0,11900.0,6000.0
1,1810804,8000.0,36 months,Graydon Head & Ritchey LLP,10+ years,MORTGAGE,64000.0,1,debt_consolidation,IN,...,0.0,0.0,100.0,75.0,1.0,0,121881.0,33618.0,13700.0,29400.0
2,388855,23700.0,36 months,Director of IT,3 years,RENT,88000.0,1,debt_consolidation,FL,...,0.0,5.0,100.0,10.0,1.0,0,99201.0,58898.0,18700.0,69501.0
3,1137067,1200.0,36 months,NaN,NaN,MORTGAGE,81000.0,1,other,NY,...,0.0,4.0,83.3,100.0,0.0,0,203983.0,20609.0,1100.0,26183.0
4,14585,3500.0,36 months,NaN,NaN,RENT,11736.0,1,debt_consolidation,WA,...,0.0,1.0,100.0,100.0,1.0,0,16200.0,9459.0,2000.0,0.0

In [17]:
# Replace NaN values in 'emp_length' column with 0
tillit_cleaned['emp_length'].fillna(0, inplace=True)

C:\Users\alexc_dra7fx5\AppData\Local\Temp\ipykernel_22492\1304638231.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tillit_cleaned['emp_length'].fillna(0, inplace=True)

In [18]:
# View updated and cleaned dataframe head
tillit_cleaned.head()

,borrower_id,loan_amnt,term,emp_title,emp_length,home_ownership,annual_inc,outcome,purpose,addr_state,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,537185,16075.0,60 months,NaN,0,MORTGAGE,50289.0,1,home_improvement,SC,...,0.0,2.0,95.7,100.0,0.0,0,227376.0,15756.0,11900.0,6000.0
1,1810804,8000.0,36 months,Graydon Head & Ritchey LLP,10+ years,MORTGAGE,64000.0,1,debt_consolidation,IN,...,0.0,0.0,100.0,75.0,1.0,0,121881.0,33618.0,13700.0,29400.0
2,388855,23700.0,36 months,Director of IT,3 years,RENT,88000.0,1,debt_consolidation,FL,...,0.0,5.0,100.0,10.0,1.0,0,99201.0,58898.0,18700.0,69501.0
3,1137067,1200.0,36 months,NaN,0,MORTGAGE,81000.0,1,other,NY,...,0.0,4.0,83.3,100.0,0.0,0,203983.0,20609.0,1100.0,26183.0
4,14585,3500.0,36 months,NaN,0,RENT,11736.0,1,debt_consolidation,WA,...,0.0,1.0,100.0,100.0,1.0,0,16200.0,9459.0,2000.0,0.0

I want to convert the emp_length values from string and convert the values to numerical elements to use later.

In [19]:
import re

# Function to extract numerical part from strings
def extract_years(text):
    if pd.isnull(text):
        return text
    elif isinstance(text, int):
        return text
    elif text == '< 1 year':
        return 0
    else:
        return float(re.search(r'\d+', str(text)).group())

# Replace '10+ years' with '10' in the 'emp_length' column
tillit_cleaned['emp_length'] =  tillit_cleaned['emp_length'].replace('10+ years', '10')

# Apply the extract_years function to the 'emp_length' column
tillit_cleaned['emp_length'] =  tillit_cleaned['emp_length'].apply(extract_years)

C:\Users\alexc_dra7fx5\AppData\Local\Temp\ipykernel_22492\2730462023.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tillit_cleaned['emp_length'] =  tillit_cleaned['emp_length'].replace('10+ years', '10')
C:\Users\alexc_dra7fx5\AppData\Local\Temp\ipykernel_22492\2730462023.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tillit_cleaned['emp_length'] =  tillit_cleaned['emp_length'].apply(extract_years)

In [20]:
# View updated and cleaned dataframe head
tillit_cleaned.head()

,borrower_id,loan_amnt,term,emp_title,emp_length,home_ownership,annual_inc,outcome,purpose,addr_state,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,537185,16075.0,60 months,NaN,0.0,MORTGAGE,50289.0,1,home_improvement,SC,...,0.0,2.0,95.7,100.0,0.0,0,227376.0,15756.0,11900.0,6000.0
1,1810804,8000.0,36 months,Graydon Head & Ritchey LLP,10.0,MORTGAGE,64000.0,1,debt_consolidation,IN,...,0.0,0.0,100.0,75.0,1.0,0,121881.0,33618.0,13700.0,29400.0
2,388855,23700.0,36 months,Director of IT,3.0,RENT,88000.0,1,debt_consolidation,FL,...,0.0,5.0,100.0,10.0,1.0,0,99201.0,58898.0,18700.0,69501.0
3,1137067,1200.0,36 months,NaN,0.0,MORTGAGE,81000.0,1,other,NY,...,0.0,4.0,83.3,100.0,0.0,0,203983.0,20609.0,1100.0,26183.0
4,14585,3500.0,36 months,NaN,0.0,RENT,11736.0,1,debt_consolidation,WA,...,0.0,1.0,100.0,100.0,1.0,0,16200.0,9459.0,2000.0,0.0

## Saving Work

Save the cleaned dataframe in a csv file in my data folder

In [21]:
# Create a CSV file as output.
tillit_cleaned.to_csv('tillit_cleaned.csv')

<a id='conc'></a>
# Conclusions

In this notebook, I have completed some basic cleaning steps to the dataframe and that will help me conduct EDA. This will provide me with more accurate insights into trends and greatly assist my analysis.